<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <runtime>
		<library name="libs/emitrobotiumcode.jar"/>
   </runtime>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            namefilter="*"
            id="CreateRecorderPlugin.contribution1">
         <menu
               label="Robotium Recorder"
               path="additions"
               id="CreateRecorderPlugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <filter
                name="projectNature"
                value="com.android.ide.eclipse.adt.AndroidNature">
         </filter>
         <action
               label="Create Robotium Recorder"
               class="createrecorderplugin.popup.actions.CreateRobotiumRecorder"
               menubarPath="CreateRecorderPlugin.menu1/group1"
               enablesFor="1"
               id="CreateRecorderPlugin.newAction">
         </action>
        <action
               label="Generate Robotium Test"
               class="createrecorderplugin.popup.actions.GenerateRobotiumTestCode"
               menubarPath="CreateRecorderPlugin.menu1/group1"
               enablesFor="1"
               id="GenerateRobotiumTest.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="CreateRecorderPlugin.createrecorder.commands.createRecorderCommand"
            class="createrecorder.handlers.CreateRecorderHandler">
      </handler>
      <handler
            commandId="CreateRecorderPlugin.createrecorder.commands.createTestCommand"
            class="createrecorder.handlers.CreateTestHandler">
      </handler>
   </extension>
      <extension
         point="org.eclipse.ui.commands">
      <category
            name="Robotium Recorder"
            id="CreateRecorderPlugin.createrecorder.commands.category">
      </category>
      <command
            name="Create Robotium Recorder for binary .APK"
            categoryId="CreateRecorderPlugin.createrecorder.commands.category"
            id="CreateRecorderPlugin.createrecorder.commands.createRecorderCommand">
      </command>
      <command
            name="Create Robotium Test for binary .APK"
            categoryId="CreateRecorderPlugin.createrecorder.commands.category"
            id="CreateRecorderPlugin.createrecorder.commands.createTestCommand">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Robotium Recorder"
               mnemonic="R"
               id="CreateRecorderPlugin.createrecorder.menus.sampleMenu">
            <command
                  commandId="CreateRecorderPlugin.createrecorder.commands.createRecorderCommand"
                  mnemonic="S"
                  id="CreateRecorderPlugin.createrecorder.menus.createRecorderCommand">
            </command>
            <command
                  commandId="CreateRecorderPlugin.createrecorder.commands.createTestCommand"
                  mnemonic="S"
                  id="CreateRecorderPlugin.createrecorder.menus.createTestCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="CreateRecorderPlugin.createrecorder.toolbars.sampleToolbar">
            <command
                  commandId="CreateRecorderPlugin.createrecorder.commands.createRecorderCommand"
                  icon="icons/sample.gif"
                  tooltip="Create Robotium Recorder for Binary .apk"
                  id="CreateRecorderPlugin.createrecorder.toolbars.createRecorderCommand">
            </command>
            <command
                  commandId="CreateRecorderPlugin.createrecorder.commands.createTestCommand"
                  icon="icons/sample.gif"
                  tooltip="Create Robotium Test for Binary .apk"
                  id="CreateRecorderPlugin.createrecorder.toolbars.createTestCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
